<mat-card class="card" (click)="cardClicked()" [@cardFlip]="data.state">
  <div class="face back">
    <ng-container *ngTemplateOutlet="data.isCollection ? collection : word"></ng-container>
  </div>
  <div class="face front">
      <ng-container *ngTemplateOutlet="data.isCollection ? collection : translate"></ng-container>
  </div>
</mat-card>

<ng-template #translate>
  <mat-card-content>
    <img mat-card-image [src]="'./assets/images/' + data.title + '/' + wordData.image">
    <h2>{{wordData.translate}}</h2>
  </mat-card-content>
</ng-template>

<ng-template #word>
  <mat-card-content>
    <img mat-card-image [src]="'./assets/images/' + data.title + '/' + wordData.image">
    <h2>{{wordData.title}}</h2>
  </mat-card-content>
</ng-template>

<ng-template #collection>
  <img mat-card-image [src]="'./assets/images/' + data.title + '/' + data.image">
  <mat-card-content>
    <h2>{{data.title}}</h2>
  </mat-card-content>
</ng-template>
